{% extends 'layout.html' %}

{% block content%}
<body>

    <h1 class="top-banner">Sticky Notes</h1>

    <div class="main-div">
        <form action="{{ url_for( 'index' )}}" method="POST">

            <h1>{{ message }}</h1>

            <h2>Login</h2>
            <input type="text" name="username" placeholder="Username">
            <br>
            <br>
            <input type="password" name="password" placeholder="Password">
            <br>
            <br>
            <button type="submit" class="button">Login</button>

            <p>Don't have an account?</p>
            <a href="{{ url_for( 'register' )}}" class="button-type-link">Make Account</a>

        </form>
    </div>
    
</body>
{% endblock %}